<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>

<div class="container">
    <h1>You have been successfully logined</h1>
    <form th:action="@{/logout}" method="post">
        <div class="col-sm-6 col-sm-offset-3">
            <input type="submit"
                   name="logout-submit"
                   id="logout-submit"
                   class="form-control btn btn-info"
                   value="log out"/>
        </div>
    </form>

</div>
<!--<form th:action="@{/}" method="get">-->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
         <a href="/" th:href="@{/list}">user list</a>
    </div>
<!--</form>-->

<a th:href="@{/uploadForm.html}" href="uploadForm.html">upload images</a>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>